body{ 
   
}

#banner {
 width: 100%;
}

.principal{
 background: cccccc;
 padding: 30px;
}

h1{
    text-align: center"
 }
p{ 
    text-align: center;
    text-align: center; 
}
#misao{
    style-size: 20px
}
em strong{

    color: #ff0000;
}

.intens {

    font-style:italic;
} 

.beneficios{
    background: ffffff;
    padding: 20px;
}

h2 {

  text-align: center;
}

ul{
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem{
    width: 50%;
}